# PlatformIO
.pio
.pioenvs
.piolibdeps
*.pyc
*.o
*.bin
*.elf

# IDEs
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.classpath
.project
.settings

# Python
.venv
venv
ENV
__pycache__/

# OS files
Thumbs.db
.DS_Store

# Sensitive config (optional: if you want to keep your passwords private)
# include/config.h
